name: ci/cd test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build_test:
    runs-on: ubuntu-latest

    steps:
      - name: checkout source code
        uses: actions/checkout@v4
              
      - name: Install dependencies
        working-directory: ./aeye
        run: npm install

      - name: start fe
        run:
          make up

